<mat-toolbar color="primary" class="mat-elevation-z4"> Ng-Suspense </mat-toolbar>
<div class="content" fxLayout="column" fxLayoutGap="16px">
  <mat-card fxFlex="100">
    <mat-card-title>Control panel</mat-card-title>
    <mat-card-content fxLayout="row">
      <div fxFlex="50"></div>
      <div fxFlex="50">
        <h3 class="mat-h3">data$ value:</h3>
        <pre>{{ data$ | async }}</pre>
      </div>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutGap="16px">
    <mat-card fxFlex="50">
      <mat-card-title>NgSuspense</mat-card-title>
      <mat-card-content>
        <ng-container [ngSuspense]="data$">
          <ng-container *ngSuspenseError>Error</ng-container>
          <ng-container *ngSuspensePlaceholder>Loading...</ng-container>
          <ng-container *ngSuspenseSuccess="let data">
            <div>Data: {{ data }}</div>
          </ng-container>
        </ng-container>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="next(0)">Next: true</button>
        <button mat-button color="primary" (click)="next(false)">Next: false</button>
        <button mat-button color="primary" (click)="error()">Error</button>
        <button mat-button color="primary" (click)="reset()">Reset</button>
      </mat-card-actions>
    </mat-card>
    <!-- NgIf -->
    <mat-card fxFlex="50">
      <mat-card-title>NgIf + async </mat-card-title>
      <mat-card-content>
        <ng-container *ngIf="(data$ | async) as data; else: loadingTpl">
          <div>Data: {{ data }}</div>
        </ng-container>

        <ng-template #loadingTpl>Loading...</ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
